django
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg
django-cors-headers
django-filter
django-debug-toolbar
django-baton
django-extra-settings
django-colorfield
django-watson
django-filebrowser-no-grappelli==4.0.1
psycopg2-binary==2.8.6
gunicorn
django-tinymce
shortuuid
pyQiwiP2P==2.0.6